*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}
.main-container{
    justify-content: space-between;
    
    
    
}
.container{
    width:300px;
    height: 80vh;
    background: #ddd;
    display: flex;
    flex-direction: row; 

    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    
}

.box 
{
    box-sizing: border-box;
    display: flex;
    width:45%;
    background: #999;
border: solid 1px #000;
margin-bottom: 10px;


}
#conteiner-onibus{
   
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
    background-color: #E5E5E5;
}
#espaco-onibus{
    flex: 1;
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-around;
}

#esquerdo{
    flex-wrap: wrap;
    display: flex;
    flex:1;  
    flex-direction: row;

}
#direito{
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    box-sizing: border-box;
    
    
}
#espaco-nota{
    display: flex;
    flex: 1;
    border: 1px solid red;
    background-color: aqua;
}